
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 235, 235);
    color: rgb(63, 62, 62);
    line-height: 2rem;
    font-size: 1.1rem;  
   
}

.container-content {
    text-align: center;
    background-color:  rgb(235, 235, 235);
    padding: 1rem 0 1rem 0;
    margin: 0 3rem 0 3rem;  
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(to bottom right,rgb(75, 104, 89) 0%, #1c461c 100%);
   
    animation: nav-slide-down 0.5s ease-out;
}

@keyframes nav-slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}


.currentPage {
    color:    rgb(142, 182, 169);
    background-color:    rgb(60, 104, 89);
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    opacity: 80%;
}

.logo a {
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
    
}

.logo {
    animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
    animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
    opacity: 0;
}

.nav-links a {
    color: rgb(235, 235, 235);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.nav-links a:hover {
    color:    rgb(142, 182, 169);
    opacity: 80%;
}

.nav-links li{
    list-style: none;
}

.burger {
    display: none;
    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(235, 235, 235);
    margin: 5px;
    transition: 0.5s ease
}

.nav-active {
    transform: translateX(0%);
   
}

.form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;  
}

.search {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1.5rem;
    letter-spacing: 1.6px;
    /* box-shadow: 2px 2px #8d8d8d; */
}

.search:focus {
    outline: none;
}

.button {
    font-size: 1rem;
    color: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
    /* background-color:rgb(75, 104, 89); */
    background: linear-gradient(to bottom right,rgb(75, 104, 89) 0%, #1c461c 100%);
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.6px;
}

.button:focus {
    outline: none;
}

.message {
    color:rgb(51, 51, 51);
    min-height: 50px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.4em;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;

    animation: slide-up 1.3s cubic-bezier(0.42, 0, 0.01, 1.06) forwards;
    transform: translateY(500%)
}

@keyframes slide-up{
    0% {
        transform: translateY(500%)
    }
    100% {
        transform: translateY(0%)
    }
}

.bullet-points {
    /* margin: 20px auto 20px auto; */
    max-width: 60%;
    text-align: justify;
}

.heading {
    color:rgb(51, 51, 51);
    font-size: 1.1em;
    font-weight: 800;
    list-style: none;
    
}

.nav-active {
    transform: translateX(0%);
   
}


/******************************************************/


@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        width: 45%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        font-size: 1rem;
    }

    .container-content {  
        margin: 0 1rem 0 1rem;  
    }

    .container {
        margin: 1rem 0 1rem 0;
    }

    .bullet-points {
        max-width: 80%;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: rgb(75, 104, 89);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
        opacity: 0;
    }

    .nav-active {
        transform: translateX(0%);
       
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
}







