* {
    margin: 0px;
    padding: 0px;
    
}
body { 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color:rgb(75, 104, 89);
    /* background-color: whitesmoke; */
    color: rgb(63, 62, 62);
    line-height: 1.5em;
    font-size: 1.1em;
}

.container {
    background-color:  rgb(235, 235, 235);
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header         header      header"
    "info-bar       info-bar    info-bar"
    "image          summary     summary"
    "ingredients    instructions instructions";
    gap: 20px;
    
}

.header {
    align-self: center;
    grid-area: header;
}

.header h1 {
    line-height: 1.3em;
}


.info-bar {
    grid-area: info-bar;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "timeServes infoTypes";
    
}

.time-serves {
    grid-area: timeServes;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: start;
}
.info-types {
    grid-area: infoTypes;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: end;
}

li.fa-stopwatch {
    color: rgb(75, 104, 89);
    margin-right: 20px;
    padding-top: 10px;
    
}
li.fa-stopwatch::before {
    margin-right: 10px;
}
li.fa-utensils {
    color: rgb(75, 104, 89);
    margin-right: 20px;
    padding-top: 10px;
}
li.fa-utensils::before {
    margin-right: 10px;
}

li.fa-check-circle {
    margin-left: 20px;
    padding-top: 10px;
    color: rgb(75, 104, 89);
}

.image {
    grid-area: image;
    width: 100%;
    border-radius: 5px;
}

.summary {
    grid-area: summary;
    line-height: 1.5em;
    text-align: justify;
   
}

.instructions {
    grid-area: instructions;
    text-align: justify;
    
}

.instructions-item {
    margin-left: 2rem;
}

.ingredients {
    grid-area: ingredients;
    width: 100%;

}

.ingredients-item {
    list-style: none;
   

}

li.ingredients-item:nth-child(odd) {
    background-color: rgb(223, 221, 221);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(235, 235, 235);
    width: 80%;
    margin: auto;
    padding: 20px;
}
.button {
    font-size: 1rem;
    color: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
    background-color:rgb(75, 104, 89);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.6px;
}

.button:focus {
    outline: none;
}



/******************************************************/


@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: auto;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "header"
        "info-bar"
        "image"
        "summary"
        "instructions"
        "ingredients"
        "navbar";
        gap: 20px;
        
    }
    
    .header {
        grid-area: header;
        align-content: stretch;
        
    }
    
    .info-bar {
        grid-area: info-bar;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "timeServes"
        "infoTypes";
        
    }

    .info-types {
        grid-area: infoTypes;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-self: start;
    }

    li.fa-check-circle {
        margin-left: 0px;
        margin-right: 20px;
        color: rgb(81, 197, 81);
    }

    .navbar {
        width: 100%;
        margin: auto;
        padding: 30px;
        /* display: flex;
        justify-content: space-evenly; */
    }
}



@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 992px) {


}

/* @media only screen and (max-width: 1200px) {
    .container{
        width: 80%;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header header header"
        "info-bar info-bar info-bar"
        "image summary summary"
        "ingredients instructions instructions";
        gap: 20px;
        
    }
    
    .header {
        align-self: center;
        grid-area: header;
    }
    
    .info-bar {
        grid-area: info-bar;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "timeServes infoTypes";
        
    }



} */

/* .col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px) */