



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html {
    font-size: 16px;
} */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 235, 235);
    color: rgb(63, 62, 62);
    line-height: 2rem;
    font-size: 1.1rem;  
   
}



.container-content {
    text-align: center;
    background-color:  rgb(235, 235, 235);
    padding: 1rem 0 1rem 0;
    margin: 0 3rem 0 3rem;  
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:rgb(75, 104, 89);
    /* background-color: rgb(104, 79, 112); */
    animation: nav-slide-down 0.5s ease-in;


}

@keyframes nav-slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.logo a {
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
    
}

.logo {
    animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
   
    100% {
        opacity: 1;
    }
}

.nav-links {
    display: flex;
    width: 35%;
    justify-content: space-around;
    animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
    opacity: 0;
}

.nav-links a {
    color: rgb(235, 235, 235);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.burger {
    display: none;
    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(235, 235, 235);
    margin: 5px;
    transition: 0.5s ease
}
.form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
    
    
}


.search {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1.5rem;
    letter-spacing: 1.6px;
    /* box-shadow: 2px 2px #8d8d8d; */
}

.search:focus {
    outline: none;
}

.button {
    font-size: 1rem;
    color: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
    background-color:rgb(75, 104, 89);
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.6px;
}

.button:focus {
    outline: none;
}

.message {
    min-height: 50px;
}

container-list {
    text-align: center;
}

.recipe-list {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.recipe-div {

    display: flex;
    flex-direction: column;
    padding: 1rem;
   
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    
    justify-content: space-evenly;
    margin: 2rem;
    cursor: pointer;
    animation: slide-up 1.5s cubic-bezier(0.42, 0, 0.01, 1.06) forwards;
    transform: translateY(500%)
    
}

@keyframes slide-up{
    0% {
        transform: translateY(500%)
    }
    100% {
        transform: translateY(0%)
    }
}

.recipe-info {
    max-width: 312px;
    min-height: 100px; 
}

.recipe_ul {
    list-style: none;
    padding: 1rem 0 1rem 0;
    font-size: 1.3em;
}

.recipe-img {
    border-radius: 5px; 
    max-width: 100%; 
}

.remove-btn {
    color: rgb(160, 160, 160);
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 0.5em;
    align-self: center;
    cursor: pointer;
    letter-spacing: 1.3px;
}
.remove-btn:hover {
    border: 1px solid rgb(63, 62, 62);

}
.remove-btn:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.back {
    display: none;
}


/******************************************************/


 @media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        width: 45%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: rgb(75, 104, 89);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
        animation: fade-in 1s cubic-bezier(0.42, 0, 0.63, 1.2) 0.5s forwards; 
        opacity: 0;
    }
    
}

.nav-active {
    transform: translateX(0%);
   
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

